$susy: (
	columns: 12,
	gutters:1/4,
	gutter-position: inside,
);
p{
	border: 1px solid red;
}
body{
 	@include container;
	@include clearfix;
	width: 80%;
	background: #FDDE03;
	
	header{
		@include span(12);
		@include clearfix;
		background-color: green;
		height: 150px;
		div{
			@include span(4);
		}
		h1{
			@include span(8 at 5);
			//padding-left:30%;
		}	
	}	
	content{
		@include span(12);
		@include clearfix;
		aside{
			@include span(4);
			background: silver;
			ul{
				list-style: none;
			}
		}
		main{
			@include span(8 at 5);
			background: grey;
		}
	}
	footer{
		@include span(12);
		background: blue;
	}
}
@include breakpoint(500px){
	aside2{
		@include span(4);
	}
	main2{
		@include span(8 at 5);
	}
}
@include breakpoint(1000px){
	@include layout(24);
	aside2{
		@include span(4);
	}
	main2{
		@include span(20 at 5);
		.col1, .col2, .col3,{
			@include span (5 of 20);
		};
		 .col4{
		 @include span (5 at 16 of 20);
		 }
	}
}
