$susy: (
	columns: 12,
	gutters:1/4,
	gutter-position: inside,
);
p{
	border: 1px solid red;
}
ul{
	list-style: none;
}
$small: 400px;
$medium: 700px;
$large: 960px;

body{
	@include container(80%);
	@include clearfix;
	background-color: silver;
	header{
		@include span(12);
		background-color: yellow;
		border: 1px solid red;
		div{
			@include span(4);
		}
		h1{
			color: green;
			@include span(8 at 4 of last);
			text-align: center;
			line-height: 3;
			
		}
	}
	content{
		@include span(12);
		border: 1px solid red;
		background-color: gray;

		aside{
		@include breakpoint(500px);
			@include span(4);
			border: 1px solid red;
		}
		main{
		@include breakpoint(500px);
			@include span(8 at 5 of last);
			border: 1px solid red;	
		}

				@include susy-breakpoint(1000px, 26){
		aside{
			@include span(6);
			border: 1px solid green;
			li{
				@include bleed-x(30px 5px);
			}
		}
		main{
			@include span(20);
			border: 2px solid green;
				p{
			border: 1px solid green;}
			}
			.p1, .p2, .p3, .p4{
				@include span(5 of 20);
			}
		}
	}
.gallery img{
	@include gallery(6 of 12);
	@include breakpoint(1000px){
		@include gallery(3 of 12);
	}
}
	footer{
		@include span(12);
	}
}




















/*body{
 	@include container(80%);
	@include clearfix;
	background: #FDDE03;
	header{
		@include span(12);
		@include clearfix;
		background-color: green;
		height: 150px;
		div{
			@include span(4);
		}
		h1{
			@include span(8 at 5);
			//padding-left:30%;
		}	
	}	
	@include breakpoint($medium){
	content{
		@include span(12);
		aside{
			@include span(4);
			background: silver;
			ul{
				list-style: none;
			}
		}
		main{
			@include span(8 at 5);
			background: grey;
		}
	}
	}
	@include breakpoint($large){
		@include layout(24);
	aside2{
		@include span(4);
	}
	main2{
		@include span(20 at 5);
		.col1, .col2, .col3,{
			@include span (5 of 20);
		};
		 .col4{
		 @include span (5 at 16 of 20);
		 }
	}
	}
}
@include breakpoint($small){
	aside2{
		@include span(4);
	}
	main2{
		@include span(8 at 5);
	}
	footer{		
	background: blue;
				@include clearfix;
		@include span(24);


	}
}
*/

	
	